.content li {
  font-size: 15px !important;
}
code {
  color: #abb2bf !important;
}
h3 {
  color: #0371df;
  font-size: 16px;
}
.fg {
  color: #42b983;
  font-weight: bold;
  font-size: 18px;
}

.fg_t {
  color: #42b983;
  font-weight: bold;
  font-size: 16px;
}

.fg_th {
  color: #42b983;
  font-size: 16px;
}

.fg_t_i {
  color: #42b983 !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.fb {
  color: #0371df;
  font-weight: bold;
  font-size: 18px;
}

.fb_t {
  color: #007fff;
  font-weight: bold;
  font-size: 16px;
}

.fb_th {
  color: #007fff;
  font-size: 16px;
}

.fr {
  color: #ff4b4a;
  font-size: 18px;
  font-weight: bold;
}

.fr_t {
  color: #ff4b4a;
  font-size: 16px;
  font-weight: bold;
}

.fr_th {
  color: #ff4b4a;
  font-size: 16px;
}